body {
    background: #000;
    font-family: monospace;
    font-size: 30px;
    color: #fff;
}

.container {
    overflow: hidden;
}

.container .content .avatar {
    border-radius: 50%;
    border: 5px solid #fff;
}

.container .content {
    width: 480px;
    height: 840px;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.container .content .contactLinks {
    margin: 0;
    padding: 0;
    width: 480px;
}

.container .content .contactLinks li {
    list-style: none;
    margin: 10px 0;
}

.container .content .contactLinks li a {
    color: #fff;
}